#footer h5 {
  padding: 0;
  margin: 25px 0 10px;
  color: #fff;
  line-height: 18px;
  font-size: 1.33em;
  font--weight: normal;
}

#footer a {
  font-size: 13px;
  color: #999999;
  line-height: 22px;
  /*   text-transform: uppercase; */
}

#footer a:hover {
  color: #fff;
  text-decoration: none;
}

#footer a .fa:hover {
  opacity: 1;
  text-decoration: none;
}

h4 {
  font-size: 1.417em;
  border-bottom: 1px solid #d2d2d3;
}

p {
  font-size: 14px;
}

.btn-danger {
  background-color: #b3241d;
  cursor: pointer;
}

#instagram {
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-social-icons {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}

ul.social-icons {
  margin-top: 10px;
  padding-left: 0px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
  margin-bottom: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-facebook {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-facebook:hover {
  background-color: #3d5b99;
}

.fa-twitter {
  padding: 10px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-rss {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-rss:hover {
  background-color: #eb8231;
}

.fa-youtube {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-youtube:hover {
  background-color: #e64a41;
}

.fa-linkedin {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-google-plus {
  padding: 10px 9px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-google-plus:hover {
  background-color: #e25714;
}

.copyright {
  background: #322f30;
  color: white;
  height: 40px;
}

.copyright p.small {
  line-height: 30px;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("assets/images/hero.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }
}

#intro .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#intro h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

@media (max-width: 768px) {
  #intro h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

#intro p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
  animation-delay: 0.5s;
}

@media (max-width: 768px) {
  #intro p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

#intro .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#intro .btn-get-started:hover {
  color: #b3241d;
  background: #fff;
}

/* Frequently Asked Questions Section
--------------------------------*/
.banner {
  background-size: cover;
  background-position: left center;
  height: 250px;
  position: relative;
  resize: vertical;
}

.banner.bg-faq {
  background-image: url("assets/images/faq-header.jpg");
}

.banner.bg-contact {
  background-image: url("assets/images/contact-us-header.jpg");
}

.banner.bg-surfing {
  background-image: url("assets/images/surfing-header.jpg");
}

.banner.bg-school {
  background-image: url("assets/images/school-header.jpg");
}

.banner .container h2 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 0;
  margin: 0 0 0 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: none;
  position: relative;
}

#faq {
  padding: 20px 0;
  overflow: hidden;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ddd;
}

#faq #faq-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #faq #faq-list a {
    font-size: 14px;
  }
  #faq #faq-list i {
    top: 10px;
  }
  #faq #faq-list a {
    padding: 12px 0;
  }
}

#faq #faq-list a.collapse {
  color: #b3241d;
}

#faq #faq-list a.collapsed {
  color: #444;
}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Header
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 0;
  color: #777;
  font-style: italic;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #1dc8cd;
  background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #eff5f5;
}

/* About Us Section
--------------------------------*/
#about {
  padding: 60px 0;
  overflow: hidden;
}

#about .about-img {
  height: 510px;
  overflow: hidden;
}

#about .about-img img {
  margin-left: -15px;
  max-width: 100%;
}

@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

#about .content .h2 {
  color: #333;
  font-weight: 300;
  font-size: 24px;
}

#about .content h3 {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

#about .content p {
  line-height: 26px;
}

#about .content p:last-child {
  margin-bottom: 0;
}

#about .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #1dc8cd;
}

#about .content ul {
  list-style: none;
  padding: 0;
}

#about .content ul li {
  padding-bottom: 10px;
}

a:hover, a:active, a:focus {
  color: #b3241d;
  outline: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 100px;
  }
  .banner .container h2 {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
  }
  .btn-danger {
    width: 100%;
  }
  .accordion-header {
    font-size: 0.7em;
  }
}

.form-line {
  border-right: 1px solid white;
}

.icon {
  margin-bottom: 10px;
}

.font-text {
  font-size: 20px;
}

.text-label {
  color: #373d3e;
}

.text-fb {
  color: #3d5b99;
}

.text-twitter {
  color: #00aced;
}

.text-instagram {
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon .fa.fa-facebook {
  background-color: transparent;
  padding: 0;
}

.icon .fa.fa-twitter {
  background-color: transparent;
  padding: 0;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-group .card {
  margin: 10px;
}

.card-title {
  color: #b3241d;
}

small.text-muted {
  font-size: 70%;
  font-weight: bold;
}

.card-body {
  padding: 0.5rem;
}

#book a {
  display: inline-block;
  margin-right: 10px;
}

#book p {
  text-align: center;
  margin-top: 10px;
}

.blog-body h2 {
  text-transform: none;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 0 0;
  line-height: normal;
}

.blog-body {
  padding: 0.5rem;
}

.bg-tall {
  height: 600px;
}

.bg-small {
  height: 300px;
}

.link {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 0.2s linear;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.caption {
  position: absolute;
  color: white;
  text-shadow: 1px 1px black;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}

.box1 {
  background-color: purple;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.bg-surfing {
  background: url("assets/images/course-surfing.jpg") no-repeat center center;
  background-size: cover;
}

.bg-sup {
  background: url("assets/images/course-sup.jpg") no-repeat center center;
  background-size: cover;
}

.bg-bodyboard {
  background: url("assets/images/course-bodyboard.jpg") no-repeat center center;
  background-size: cover;
}

.bg-daypass {
  background: url("assets/images/course-daypass.jpg") no-repeat center center;
  background-size: cover;
}

.bg-seakayak {
  background: url("assets/images/course-seakayak.jpg") no-repeat center center;
  background-size: cover;
}

.bg-pulau {
  background: url("assets/images/course-taxy.jpg") no-repeat center center;
  background-size: cover;
}

@media (max-width: 767.98px) {
  .bg-tall {
    max-height: 200px;
  }
  .bg-small {
    max-height: 200px;
  }
  .banner-caption {
    width: 100%;
  }
  .banner-caption h2 {
    font-size: 2rem;
  }
  .banner-caption p {
    font-size: 16px;
  }
}

.section {
  position: relative;
  margin: 60px 0;
  padding: 60px 0;
  background-color: #F9F9F9;
  overflow: hidden;
}

.heading-block {
  margin-bottom: 50px;
}

.heading-block h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bottommargin {
  margin-bottom: 50px !important;
}

.topmargin {
  margin-top: 50px !important;
}

.partners {
  padding: 20px 0;
  background-color: #fef6f3;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.clients-grid {
  list-style: none;
  overflow: hidden;
}

.nobottommargin {
  margin-bottom: 0 !important;
}

.clients-grid li::after {
  width: 100%;
  height: 0;
  top: auto;
  left: 0;
  bottom: -1px;
  border-bottom: 1px dashed #DDD;
}

.clients-grid li::before, .clients-grid li::after {
  content: '';
  position: absolute;
}

.clients-grid li::before, .testimonials-grid li::before {
  height: 100%;
  top: 0;
  left: -1px;
  border-left: 1px dashed #DDD;
}

.clients-grid.grid-6 li {
  width: 16.66%;
}

.clients-grid li {
  float: left;
  position: relative;
  width: 20%;
  padding: 20px 0;
  -webkit-backface-visibility: hidden;
  margin-left: 0;
}

.clients-grid li a, .clients-grid li img {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.clients-grid li::after {
  width: 100%;
  height: 0;
  top: auto;
  left: 0;
  bottom: -1px;
  border-bottom: 1px dashed #DDD;
}

.clients-grid li::before {
  height: 100%;
  top: 0;
  left: -1px;
  border-left: 1px dashed #DDD;
}

.clients-grid li::before, .clients-grid li::after, .testimonials-grid li::before, .testimonials-grid li::after {
  content: '';
  position: absolute;
}

@media (max-width: 576px) {
  .clients-grid.grid-6 li {
    width: 50%;
  }
}

.fbox-icon {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.fbox-icon a {
  margin-top: 4px;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

a {
  color: #343a40;
}

a:hover {
  color: #b3241d;
}

.active {
  color: #b3241d;
}

.left-menu ul {
  padding-left: 10px;
}

.left-menu ul li {
  list-style: none;
  border-bottom: 1px solid gainsboro;
  padding: 5px 10px;
}

#content {
  height: 1000px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.top-most span {
  font-size: 14px;
}

.top-most .container {
  padding: 10px;
}

#header {
  background: rgba(0, 0, 0, 0.2);
  padding: 30px 0;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
    margin-top: 0;
  }
  #header #logo img {
    max-height: 40px;
  }
}

#header.header-fixed {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #FFF;
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header.header-fixed a {
  color: #444;
}

#header.header-fixed #logo h1 a {
  color: #444;
}

.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d";
  color: white;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #EEE;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 16px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #b3241d;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #b3241d;
}

#mobile-nav ul .menu-item-active {
  color: #b3241d;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
