.partners {
  padding: 20px 0;
  background-color: #fef6f3;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.clients-grid {
    list-style: none;
    overflow: hidden;
}

.nobottommargin {
    margin-bottom: 0 !important;
}

.clients-grid li::after{
    width: 100%;
    height: 0;
    top: auto;
    left: 0;
    bottom: -1px;
    border-bottom: 1px dashed #DDD;
}

.clients-grid li::before, .clients-grid li::after {
    content: '';
    position: absolute;
}

.clients-grid li::before, .testimonials-grid li::before {
    height: 100%;
    top: 0;
    left: -1px;
    border-left: 1px dashed #DDD;
}

.clients-grid.grid-6 li {
    width: 16.66%;
}

.clients-grid li {
    float: left;
    position: relative;
    width: 20%;
    padding: 20px 0;
    -webkit-backface-visibility: hidden;
  margin-left:0;
}

.clients-grid li a, .clients-grid li img {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.clients-grid li::after{
    width: 100%;
    height: 0;
    top: auto;
    left: 0;
    bottom: -1px;
    border-bottom: 1px dashed #DDD;
}

.clients-grid li::before {
    height: 100%;
    top: 0;
    left: -1px;
    border-left: 1px dashed #DDD;
}

.clients-grid li::before, .clients-grid li::after, .testimonials-grid li::before, .testimonials-grid li::after {
    content: '';
    position: absolute;
}

@media (max-width: 576px) {
    .clients-grid.grid-6 li {
      width: 50%;
  }
}
