@media (max-width:756px) {
  .rental {
    height:300px;
    overflow:hidden;
    padding-left:1rem;
    padding-right:1rem;
  }
}

.bg-rental-surfboard {
  background: url(../assets/images/bg-rental.jpg) no-repeat center center;
  background-size:cover;
}

.bg-rental-sup {
  background: url(../assets/images/bg-rental.jpg) no-repeat center center;
  background-size:cover;
}

.bg-rental-bodyboarding {
  background: url(../assets/images/bg-rental.jpg) no-repeat center center;
  background-size:cover;
}

.bg-rental-kayak {
  background: url(../assets/images/bg-rental.jpg) no-repeat center center;
  background-size:cover;
}
